

.bible-search-bar{
    margin: 4em;
}

.bible-search-response{
    font-size: 2em;
}


.bible-search-response ul{
    list-style-type: none;
}

.bible-search-response li{
    text-align: left;
    margin: 1em;
}