.periodic-book{

}

.periodic-book-box{
    border: solid;
    border-width: 1px;
    border-radius: 10%;
    border-color: #1e1e1e;
    margin: 1px;
    min-width: 40px;
    min-height: 65px;
    background-color: #1e1e1e;
}

.periodic-book-wrapper{
    margin: auto;
}

.periodic-book-box:hover{
    border-color: #5f6063;
    box-shadow: 3px #5f6063;
}

.periodic-book-box:hover .periodic-book-bigramme, .periodic-book-box:hover .periodic-book-author{
    color: #818289;
}

.periodic-book-bigramme{
    color: #505050;
    font-size: 2.9em;
}

.periodic-book-author{
    color: #505050;
}
