.reader{
    transition: margin-right .5s; /* If you want a transition effect */
}

.reader-with-tagger{
    margin-right: 45em;
}

.reader-without-tagger{
    margin-right: 0em;
}

.reader-arrow{
    width: 1.6em;
    left: 50%;
    top: 50%;
}

.reader-chapter-button{
    padding: 0.7em;
    height: 4em;
    width: 4em;
    border-radius: 100%;
    position: fixed;
    bottom:5%;
    margin:1em;
}

.reader-previous-chapter-button{
    left:10%;
}

.reader-next-chapter-button{
    left:90%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}



/* SCRIPTURES */

.scripture-reader{
    margin: 3em;
    max-width: 850px;
    text-align: justify;
    letter-spacing: 0.05em;
    line-height: 4.5em;
}

.scripture-verse{
    cursor: pointer;
}

.scripture-verse-id-box{
    text-justify: none;
    display: inline-block;
}

.scripture-verse-id{
    border: solid;
    border-width: 0.05em;
    border-radius: 25%;
    border-color:#787878;
    
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-left: 2em;

    color:#787878;
    font-size: 1.8em;
}

.scripture-verse-text{
    font-size: 2.5em;
    color: #a8a8a8;
}

.scripture-verse:hover .scripture-verse-text-not-selected{
    border-bottom: 0.06em solid #787878;
    border-bottom-style: dashed;
}


.scripture-verse-text-selected{
    border-bottom: 0.06em solid #787878;
}


/* SELECTOR */

.scripture-select{
 margin: 1em;
}

.scripture-selector select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #1e1e1e;
  background-image: none;
  position: relative;
  display: flex;
  width: 12em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}

.scripture-selector select:hover {
    color: #787878;
  }

.scripture-selector select {
  flex: 1;
  padding: 0 .5em;
  font-size: 2em;
  color: #505050;
  cursor: pointer;
}


.scripture-selector ul {
    display: inherit;
    margin-bottom: 2px;
    position: relative;
    padding: 0;
}


.scripture-selector li {
    display: inline-block;
    vertical-align: top;
    color: #787878;
}

.scripture-remove-selection {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    position: relative;
    display: flex;
    width: 3em;
    height: 3em;
    margin: 0.5em;
    padding: 0;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}

.scripture-clear-icon{
    font-size: large;
    margin:auto;
    opacity: .4;
    -ms-filter: "alpha(Opacity=40)";
    filter: alpha(opacity=40);
    transform: scale(0.75,.75);
    -webkit-transform: scale(0.75,.75);
}

.scripture-remove-selection:hover .scripture-clear-icon{
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
