/* BOOK */

.periodic-table {
    display: block;
}

.book-list-selector {
    display: none;
}


@media screen and (max-width: 1300px) {
    .periodic-table {
        display: none;
    }

    .book-list-selector {
        display: block;
    }
}

.periodic-table ul {
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    padding: 0;
}

.periodic-table li {
    display: inline-block;
    margin: 0 0.2em;
    text-align: center;
    vertical-align: top;
    color: #787878;
}

.periodic-table-old-testament {
    font-size: 4em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #505050;
    text-transform: uppercase;
}

.periodic-table-new-testament {
    font-size: 4em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #505050;
    text-transform: uppercase;
}

.periodic-book-box {
    border: solid;
    border-width: 1px;
    border-radius: 7%;
    border-color: #1e1e1e;
    margin: 1px;
    width: 5.5em;
    height: 9em;
    padding: 0.3em;
    background-color: #1e1e1e;
}

.periodic-book-wrapper {
    padding-top: 0.5em;
}

.periodic-book-box:hover {
    border-color: #5f6063;
    box-shadow: 0 1px 2px 0 #5f6063, 0 1px 2px 0 #5f6063;
}

.periodic-book-box:hover .periodic-book-bigramme,
.periodic-book-box:hover .periodic-book-author,
.periodic-book-box:hover .periodic-book-chapter {
    color: #818289;
}

.periodic-book-bigramme {
    color: #505050;
    font-size: 3.3em;
}

.periodic-book-author {
    color: #505050;
    font-size: 1em;
}

.periodic-book-chapter {
    color: #505050;
    font-size: 1em;
}


/* VERSION */

.version-list-language ul {
    display: inherit;
    margin-bottom: 2px;
    position: relative;
    padding: 0;
}

.version-list-language li {
    display: inline-block;
    margin: 0 0.2em;
    vertical-align: top;
    color: #787878;
}

.version-language {
    font-size: 2.5em;
    color: #787878;
    text-transform: capitalize;
}

.version-language-td {
    text-align: right;
}

.version-box-box {
    border: solid;
    border-width: 1px;
    border-radius: 5%;
    border-color: #1e1e1e;
    margin: 1em;
    padding: 1.5em;
    background-color: #1e1e1e;
}

.version-box-box:hover {
    border-color: #5f6063;
    box-shadow: 0 1px 2px 0 #5f6063, 0 1px 2px 0 #5f6063;
}

.version-box-abbreviation {
    color: #505050;
    font-size: 3em;
}

.version-box-name {
    color: #505050;
    font-size: 0.9em;
}

.version-box-box:hover .version-box-abbreviation,
.version-box-box:hover .version-box-name {
    color: #818289;
}


/* CHAPTER */

.chapter-list {
    margin: 3em;
    max-width: 850px;
}

.chapter-list ul {
    display: inherit;
    margin-bottom: 2px;
    position: relative;
    padding: 0;
}

.chapter-list li {
    display: inline-block;
    margin: 0 0.2em;
    vertical-align: top;
    color: #787878;
}

.chapter-button {
    border: solid;
    border-width: 1px;
    border-radius: 5%;
    border-color: #1e1e1e;
    margin: 0.5em;
    padding: 2em;
    background-color: #1e1e1e;
}

.chapter-id {
    color: #505050;
    font-size: 3em;
}

.chapter-button:hover {
    border-color: #5f6063;
    box-shadow: 0 1px 2px 0 #5f6063, 0 1px 2px 0 #5f6063;
}

.chapter-button:hover .chapter-id {
    color: #818289;
}

