.bible-site-container {
    text-align: center;
}

.header {
    background-color: transparent;
}

.content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: calc(1vmin);
    color: #787878;
}

.footer {
    background-color: transparent
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 320px;
}