
.top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #1e1e1e;
}

.top button {
    margin: 0;
    font-size: calc(8px + 1em);
}

.bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: #1e1e1e;
}

.bottom p {
    text-align: center;
    font-size: 2em;
    color: #818289;
}

.bottom ul {
    width: 100em;
    left: 50%;
    margin-left: -50em;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    padding: 0;
}

.bottom ul a {
    text-decoration: none;
}

.bottom ul li {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    color: #787878;
    width: 100px;
}

.splash-title {
    font-size: calc(8px + 1em);
}

.bottom ul li p {
    font-size: 1em;
    color: #505050;
}

.bottom ul li:hover h3, .bottom ul li:hover p {
    color: #818289;
}

.bottom ul li img {
    opacity: .4;
    -ms-filter: "alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -webkit-transform: scale(0.75, .75);
    -moz-transform: scale(0.75, .75);
    -o-transform: scale(0.75, .75);
    -ms-transform: scale(0.75, .75);
    transform: scale(0.75, .75);
    -webkit-transform: scale(0.75, .75);
}

.bottom ul li:hover img {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.home-center {
    overflow: hidden
}

.home-center {
    position: relative;
    z-index: 3;
}

.home-center-image {
    width: 80em;
    min-width: 300px;
    padding: 3em;
    position: absolute;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-size: cover;
}


.home h1 {
    text-shadow: 1px 1px 2px #1e1e1e;
    font-size: 8em;
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 0em;
    color: whitesmoke;
}

.home h2 {
    text-shadow: 1px 1px 2px #1e1e1e;
    margin-top: 0.3em;
    margin-bottom: 5em;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 300;
    color: whitesmoke;
}


@media screen and (max-width: 800px) {
    .splash-subtitle {
        display: none;
    }
}


/* LOGIN */

.login-dialog-content {
    text-align: center;
    margin: auto;
}
