
.bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: #1e1e1e;
}

.bottom p {
    text-align: center;
    font-size: 2em;
    color: #818289;
}

.bottom ul {
    width: 750px;
    left: 50%;
    margin-left: -375px;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    padding: 0;
}

.bottom ul a {
    text-decoration: none;
}

.bottom ul li {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
    color: #787878;
    width: 120px;
}

.bottom ul li p {
    font-size: 1em;
    color: #505050;
}

.bottom ul li:hover h3, .bottom ul li:hover p {
    color: #818289;
}

.bottom ul li img {
    opacity: .4;
    -ms-filter: "alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -webkit-transform: scale(0.75,.75);
    -moz-transform: scale(0.75,.75);
    -o-transform: scale(0.75,.75);
    -ms-transform: scale(0.75,.75);
    transform: scale(0.75,.75);
    -webkit-transform: scale(0.75,.75);
}

.bottom ul li:hover img {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

